body, html{
  padding: 0px auto;
  margin: 0px auto;
/*   overflow: hidden; */
  scroll-behavior: smooth;
  background-color: #006377;
}

.card {
  padding: 2em;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.read-the-docs {
  color: #888;
}

.world-logo{
  width: 10%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.world-logo img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.header-mainnav{
  width: 90%;
}
.header-mainnav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.header-mainnav ul li{
  list-style: none;
}

.container-countries{
  width: 1300px;
  height: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px auto;
  margin: 0px auto;
}


.container-card{
  width: 300px;
  border: solid 2px #002931;
  border-radius: 5%;
  overflow: hidden;
  margin: 30px 30px;
}

.divider{
  background-color: #002931;
  height: 2px;
  width: 100%;
}
.container-card-upper{
  height: 160px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0px auto;
}

.container-card-upper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.container-card-lower{
  overflow: hidden;
  margin: 0px auto;
  padding: 0px auto;
}

.container-country-name{
  background-color: #014B5A;
  height: 80px;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-country-extra{
  background-color: #014B5A;
  height: 80px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-country-stat{
  background-color: #006377;
  border: solid 2px #002931;
  border-radius: 4px;
  margin: 0px 5px;
  padding: 2px 7px;
  text-align: center;
}

.container-country-stat h1{
 font-size: 15px;
}

.container-country-stat h2{
  font-size: 10px;
}

.container-country-stat span{
  font-weight: bolder;
}

.page-title{
  text-align: center;
}

.container-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}



/* PAGINA LANDING*/

.container-center{
  margin: 50px 10px;
  width: 100%;
  display:flex;
  flex-direction: row;    
  justify-content: center;
}

.info_portada{
  display:flex;
  flex-direction: column;    
  align-items: center;
  text-align: center;
  width: 65%;
}

.container-half{
  width: 50%;
  margin: 0px 30px;
}

.flag-div{
  width: 80%;
}

.flag-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.izquierda{
  margin-top: 20px;
}

.back-button {
  margin: 50px 20px;
  padding: 6px 15px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  background-color: #017b94;
  color: white;
  transition: all ease 0.3s;
}

.back-button:hover{
  background-color: #015869;
  box-shadow: 0 0 4px 0px rgba(255, 255, 255, 0.2);
}



